*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

font-family: 'Roboto',
sans-serif;

html {
    scroll-behavior: smooth;
}


/*navbar starts here*/
.header {
    height: 100px;
    background: #25282a;
    padding: 0 20px;
    color: #d9d9d6;
}

.logo {
    line-height: 100px;
    float: left;
    text-transform: uppercase;
    font-family: "poetsen one";
}

.menu {
    float: right;
    line-height: 100px;
    overflow: hidden;
    background-color: #25282a;
}

.menu a {
    color: #d9d9d6;
    font-family: "roboto";
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
    z-index: 99;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #ef233c;
}

#check {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}


/*the main content starts here*/
.content {
    padding: 0 20;
     margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;

}


.content img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}

.content p {
    text-align: justify;
}

.maintitle {
    font-family: "roboto black", sans-serif;
    text-align: center;
}

h1 {
    font-family: "roboto black", sans-serif;
    font-size: 45px;
    margin-top: 30px;
    display: flex;

}

.articleteaser_container {
    font-family: "roboto light", sans-serif;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.teaser_text {
    font-size: 20px;
}

.teaser_section {
    width: 100%;
}

/*This is the responsive menu*/
@media screen and (max-width:800px) {

    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3c6f71;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu {
        right: 0;
    }

}


/* here starts the footer*/
.footer {
    background-color: #25282a;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ftxt {
      font-size: 15px;
    color: white;
    font-family: "roboto light";
}

.wrapper {
    margin: 0 auto 0 auto;

}

.logolink {
    text-decoration: none;
    color: #d9d9d6;
}

.article_img {
    max-width: 100%;
}

.link_text {
    text-decoration: none;
    color: darkslateblue;
    margin-bottom: 20px;
}

.link_text:hover {
    text-decoration: none;
    color: red;
    margin-bottom: 20px;
}
